<h3 class="text-center text-primary pt-3"> View employee details </h3>
<br>
<div class="move text-center">
    <div class=" border bg-danger rounded-circle text-center " style="width: 300px; height: 150px;">
        <br>
        <div>
            <label> <b> First Name: &nbsp;</b></label> {{employee.firstname}} 
        </div>
        <div>
            <label> <b> Last Name: &nbsp;</b></label> {{employee.lastname}} 
        </div>
        <div>
            <label> <b> Email_Id: &nbsp;</b></label> {{employee.email}} 
        </div>
        <br><br><br><br>
        <div class="col" >
            <button class="btn btn-info" (click)="otherEmployees()"> see others </button>
        </div>
    </div>
    

   
    
</div>